<ion-content>
  <ion-row style="margin-top: 50px;">
    <ion-col style="text-align: center; width: 100% !important;">
      <ion-text>Reset password</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 50px;">
    <ion-col size-sm="6" offset-sm="3" style="text-align:center;">
      <ion-item *ngIf="tokenStatus === TokenStatus.Validating"  lines="none">
        <ion-spinner></ion-spinner>
        <h3>Validating token...</h3>
      </ion-item>
      <ion-item *ngIf="tokenStatus === TokenStatus.Invalid"  lines="none">
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">
          Token validation failed, if the token has expired you can get a new one at the
          <a style="color:cadetblue; font-style: oblique;" href="./account/forgot-password">
            forgot password
          </a>page.
        </p>
      </ion-item >
    </ion-col>
  </ion-row>
  <form *ngIf="tokenStatus === TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password" name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" ></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <p *ngIf="f.password.errors.required">Password is required</p>
              <p *ngIf="f.password.errors.minlength">Password must be at least 6 characters</p>
              <p *ngIf="f.password.errors.pattern">Password should contain at least one upper case letter, one digit and one special character!</p>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input
                type="password"
                formControlName="confirmPassword"
                name="confirm"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <p *ngIf="f.confirmPassword.errors.required">Confirm password is required</p>
              <p *ngIf="f.confirmPassword.errors.mustMatch">Confirm must match the password</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 30px;">
        <ion-col size-sm="6" offset-sm="3" style="text-align:center;">
          <ion-button style="margin-bottom: 10px;" expand="block" type="submit" [disabled]="!form.valid">Reset Password</ion-button>
          <ion-text>Or...</ion-text>
          <ion-button expand="block" fill="clear" type="button" routerLink="../login">Back to log-in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
